### Load data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/train.csv")

### Check the data

In [4]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
df.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [6]:
df.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

### Check for any null values

In [8]:
df.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

#### Having a straight line distance between the pickup and drop off would help us in prediction.  So first create a new feature trip distance from the pickup and drop off longitude & latitude values.

In [9]:
# Obtain distance between two points on earth
# https://en.wikipedia.org/wiki/Great-circle_distance

# Below function gives distance in KM between to points on the earth surface identified by
# their longitude and latitudes (from_long, from_lat) & (to_long, to_lat)
# 0.009 of difference in x co-ordinate = 1.002 km
# 0.009 of difference in y co-ordinate = 1.002 km

from math import sin, cos, acos

def get_distance(from_long, from_lat, to_long, to_lat):
    
    if from_long == to_long and from_lat == to_lat: 
        return 0
    
    v_pi             = 3.1415926; 
    v_earth_radius   = 6378; # Radius of the Earth in km    
    v_from_x_radians = (v_pi / 180) * from_long
    v_from_y_radians = (v_pi / 180) * from_lat
    v_to_x_radians   = (v_pi / 180) * to_long
    v_to_y_radians   = (v_pi / 180) * to_lat

    v_distance = ((acos(sin(v_from_y_radians) * sin(v_to_y_radians) 
                       + (cos(v_from_y_radians) * cos(v_to_y_radians) *  cos(v_from_x_radians - v_to_x_radians)))) 
                  * v_earth_radius)
    return v_distance # Unit in kilometer

In [10]:
get_distance(103.903806, 1.404605, 103.908988, 1.400917)

0.7078785036170167

Calculate the trip distance from the pickup and dropoff longitude & latitudes and add as a new column.

In [11]:
df = pd.concat([df,df.apply(lambda r: get_distance(r['pickup_longitude'], r['pickup_latitude'], r['dropoff_longitude'], r['dropoff_latitude']), axis=1).rename('trip_distance')],axis=1)

In [12]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.807491
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.392114
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.487131
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.189894

#### Instead of predicting drop off at a specific address point, it would be more practical to predict drop offs at a region for example a region of 1 km by 1 km square

As 0.009 difference in latitude / longitude is equivalent to 1.002 km, rounding of the latitude and longitude two decimal places gives us a square of 1 km by 1 km.

In [13]:
df = df.assign(pck_rnd_long = round(df.pickup_longitude,2),
         pck_rnd_lat = round(df.pickup_latitude,2),
         drp_rnd_long = round(df.dropoff_longitude,2),
         drp_rnd_lat = round(df.dropoff_latitude,2) 
         )

In [14]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167,-73.98,40.77,-73.96,40.77
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.807491,-73.98,40.74,-74.00,40.73
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.392114,-73.98,40.76,-74.01,40.71
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.487131,-74.01,40.72,-74.01,40.71
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.189894,-73.97,40.79,-73.97,40.78

#### Get a pickup time hour rounded to 15 minutes slot and add as a new feature

In [15]:
hrmi = df.pickup_datetime[0][11:16]

In [16]:
def round_to_mins(hrmi, p_i_min):
    hr = int(hrmi[0:2])         
    mi = (int(hrmi[3:5]) // p_i_min) * p_i_min
    return (hr + mi/60)

In [17]:
round_to_mins(df.pickup_datetime[0][11:16],15)

17.25

In [18]:
df['pickup_hrmi'] = df.apply(lambda r: round_to_mins(r['pickup_datetime'][11:16],15), axis=1)

In [19]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167,-73.98,40.77,-73.96,40.77,17.25
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.807491,-73.98,40.74,-74.00,40.73,0.50
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.392114,-73.98,40.76,-74.01,40.71,11.50
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.487131,-74.01,40.72,-74.01,40.71,19.50
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.189894,-73.97,40.79,-73.97,40.78,13.50

#### Find the weekday of the datesand add as a new feature

In [20]:
from datetime import datetime
datetime.strptime('2018-10-05','%Y-%m-%d').weekday()

4

In [21]:
datetime.strptime(df.pickup_datetime[0][0:10],'%Y-%m-%d').weekday()

0

In [22]:
df.head().apply(lambda r: datetime.strptime(r['pickup_datetime'][0:10],'%Y-%m-%d').weekday(),axis=1)

0    0
1    6
2    1
3    2
4    5
dtype: int64

In [23]:
df['pickup_weekday'] = df.apply(lambda r: datetime.strptime(r['pickup_datetime'][0:10],'%Y-%m-%d').weekday(), axis=1)

In [24]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167,-73.98,40.77,-73.96,40.77,17.25,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.807491,-73.98,40.74,-74.00,40.73,0.50,6
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.392114,-73.98,40.76,-74.01,40.71,11.50,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.487131,-74.01,40.72,-74.01,40.71,19.50,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.189894,-73.97,40.79,-73.97,40.78,13.50,5

In [207]:
df['dropoff_weekday'] = df.apply(lambda r: datetime.strptime(r['dropoff_datetime'][0:10],'%Y-%m-%d').weekday(), axis=1)

In [208]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday,pickup_dtm,dropoff_dtm,dropoff_weekday
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,1.500167,-73.98,40.77,-73.96,40.77,17.25,0,2016-03-14 17:24:55,2016-03-14 17:32:30,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,1.807491,-73.98,40.74,-74.00,40.73,0.50,6,2016-06-12 00:43:35,2016-06-12 00:54:38,6
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,...,6.392114,-73.98,40.76,-74.01,40.71,11.50,1,2016-01-19 11:35:24,2016-01-19 12:10:48,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,...,1.487131,-74.01,40.72,-74.01,40.71,19.50,2,2016-04-06 19:32:31,2016-04-06 19:39:40,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,...,1.189894,-73.97,40.79,-73.97,40.78,13.50,5,2016-03-26 13:30:55,2016-03-26 13:38:10,5

#### Check for trip duration more than 2 hours

In [54]:
round(df.loc[df['trip_duration'] > 2 * 60 * 60].trip_duration/60/60,0).value_counts()

24.0     1595
23.0      285
2.0       107
3.0        57
22.0       31
4.0        16
8.0        15
10.0       15
17.0       14
21.0       14
7.0        13
6.0        12
9.0        10
11.0        8
18.0        8
12.0        8
16.0        7
15.0        7
19.0        7
20.0        6
5.0         5
14.0        5
13.0        4
980.0       1
619.0       1
569.0       1
539.0       1
Name: trip_duration, dtype: int64

#### Check trip distance

In [57]:
round(df.trip_distance,0).value_counts()

1.0       444335
2.0       356495
3.0       195111
4.0       111663
5.0        71053
6.0        49005
0.0        48782
7.0        32726
9.0        24931
8.0        23229
10.0       21328
11.0       11911
21.0       10357
20.0       10260
12.0        7567
14.0        6531
13.0        6374
19.0        4346
15.0        4096
22.0        4045
16.0        3973
18.0        3401
17.0        3318
23.0        1708
24.0         553
25.0         274
26.0         251
27.0         191
28.0         134
29.0          92
           ...
576.0          1
320.0          1
55.0           1
892.0          1
173.0          1
117.0          1
115.0          1
113.0          1
215.0          1
105.0          1
102.0          1
98.0           1
255.0          1
94.0           1
91.0           1
86.0           1
84.0           1
83.0           1
315.0          1
1242.0         1
76.0           1
75.0           1
72.0           1
71.0           1
70.0           1
68.0           1
192.0          1
135.0          1
56.0           1
60.0           1
Name: trip_distance, Length: 101, dtype: int64

In [59]:
df.loc[df['trip_distance'] > 30].count()

id                    575
vendor_id             575
pickup_datetime       575
dropoff_datetime      575
passenger_count       575
pickup_longitude      575
pickup_latitude       575
dropoff_longitude     575
dropoff_latitude      575
store_and_fwd_flag    575
trip_duration         575
trip_distance         575
pck_rnd_long          575
pck_rnd_lat           575
drp_rnd_long          575
drp_rnd_lat           575
pickup_hrmi           575
pickup_weekday        575
dtype: int64

#### Based on above we can now assume that pickups started within 30 KM from the drop off location within past 2 hours are the major contributors to drop off

In [64]:
df.loc[0].pickup_datetime

'2016-03-14 17:24:55'

In [65]:
datetime.strptime(df.loc[0].pickup_datetime,'%Y-%m-%d %H:%M:%S')

datetime.datetime(2016, 3, 14, 17, 24, 55)

In [70]:
datetime.strptime(df.loc[0].pickup_datetime,'%Y-%m-%d %H:%M:%S') - datetime(2016, 3, 13, 17, 23, 55)

datetime.timedelta(1, 60)

In [72]:
from datetime import timedelta

datetime.strptime(df.loc[0].pickup_datetime,'%Y-%m-%d %H:%M:%S') - timedelta(hours=1)

datetime.datetime(2016, 3, 14, 16, 24, 55)

#### Add feature pickup date time in python date time format for ease of calculation

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 18 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
trip_distance         1458644 non-null float64
pck_rnd_long          1458644 non-null float64
pck_rnd_lat           1458644 non-null float64
drp_rnd_long          1458644 non-null float64
drp_rnd_lat           1458644 non-null float64
pickup_hrmi           1458644 non-null float64
pickup_weekday        1458644 non-null int64
dtypes: float64(10), int64(4), object(4)
memory usage: 200.3+ MB

In [75]:
df['pickup_dtm'] = df.apply(lambda r: datetime.strptime(r['pickup_datetime'],'%Y-%m-%d %H:%M:%S'),axis=1)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 19 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
trip_distance         1458644 non-null float64
pck_rnd_long          1458644 non-null float64
pck_rnd_lat           1458644 non-null float64
drp_rnd_long          1458644 non-null float64
drp_rnd_lat           1458644 non-null float64
pickup_hrmi           1458644 non-null float64
pickup_weekday        1458644 non-null int64
pickup_dtm            1458644 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int64(4), object(4)
memory usage: 211.4+ MB

In [77]:
df['dropoff_dtm'] = df.apply(lambda r: datetime.strptime(r['dropoff_datetime'],'%Y-%m-%d %H:%M:%S'),axis=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 20 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
trip_distance         1458644 non-null float64
pck_rnd_long          1458644 non-null float64
pck_rnd_lat           1458644 non-null float64
drp_rnd_long          1458644 non-null float64
drp_rnd_lat           1458644 non-null float64
pickup_hrmi           1458644 non-null float64
pickup_weekday        1458644 non-null int64
pickup_dtm            1458644 non-null datetime64[ns]
dropoff_dtm           1458644 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(10), int64(4), object(4)
memory usage: 222.6+ MB

In [95]:
# Function that filters given datframe for pickup_dtm column >= (dtm - hourss) and < dtm
def filter_pickups_for_duration(df, dtm, hours):
    aft = df[df['pickup_dtm'] >= (dtm - timedelta(hours=hours))] 
    return aft[aft['pickup_dtm'] < dtm]

In [98]:
filter_pickups_for_duration(df, datetime(2016,3,14,18,0,0), 1)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday,pickup_dtm,dropoff_dtm
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167,-73.98,40.77,-73.96,40.77,17.25,0,2016-03-14 17:24:55,2016-03-14 17:32:30
2542,id3758366,2,2016-03-14 17:19:42,2016-03-14 17:26:17,1,-73.993095,40.747917,-74.006340,40.734406,N,395,1.873524,-73.99,40.75,-74.01,40.73,17.25,0,2016-03-14 17:19:42,2016-03-14 17:26:17
9410,id0790528,2,2016-03-14 17:01:41,2016-03-14 17:14:21,1,-73.984245,40.749043,-73.999893,40.734074,N,760,2.125623,-73.98,40.75,-74.00,40.73,17.00,0,2016-03-14 17:01:41,2016-03-14 17:14:21
12042,id2704865,2,2016-03-14 17:16:07,2016-03-14 18:01:40,1,-74.006760,40.705559,-73.980568,40.787540,N,2733,9.389473,-74.01,40.71,-73.98,40.79,17.25,0,2016-03-14 17:16:07,2016-03-14 18:01:40
16124,id1226973,1,2016-03-14 17:52:46,2016-03-14 17:58:44,1,-73.984711,40.759007,-73.991318,40.750095,N,358,1.137711,-73.98,40.76,-73.99,40.75,17.75,0,2016-03-14 17:52:46,2016-03-14 17:58:44
19931,id3325229,1,2016-03-14 17:02:59,2016-03-14 17:24:37,1,-74.000107,40.732910,-73.983337,40.766312,N,1298,3.978011,-74.00,40.73,-73.98,40.77,17.00,0,2016-03-14 17:02:59,2016-03-14 17:24:37
31451,id0069024,2,2016-03-14 17:12:51,2016-03-14 17:13:27,1,-73.951118,40.741631,-73.954269,40.741585,N,36,0.265801,-73.95,40.74,-73.95,40.74,17.00,0,2016-03-14 17:12:51,2016-03-14 17:13:27
32637,id0881970,1,2016-03-14 17:12:16,2016-03-14 17:31:23,1,-73.960800,40.765873,-73.985634,40.778114,N,1147,2.497948,-73.96,40.77,-73.99,40.78,17.00,0,2016-03-14 17:12:16,2016-03-14 17:31:23
32999,id1579078,1,2016-03-14 17:13:17,2016-03-14 17:17:31,1,-73.968628,40.791573,-73.977722,40.782867,N,254,1.235525,-73.97,40.79,-73.98,40.78,17.00,0,2016-03-14 17:13:17,2016-03-14 17:17:31
38351,id2747559,1,2016-03-14 17:37:59,2016-03-14 17:53:14,1,-73.951706,40.774109,-73.982567,40.738621,N,915,4.730501,-73.95,40.77,-73.98,40.74,17.50,0,2016-03-14 17:37:59,2016-03-14 17:53:14
38581,id3118856,2,2016-03-14 17:05:09,2016-03-14 17:33:19,1,-73.996368,40.723701,-74.012787,40.702030,N,1690,2.781865,-74.00,40.72,-74.01,40.70,17.00,0,2016-03-14 17:05:09,2016-03-14 17:33:19
44645,id1889642,1,2016-03-14 17:14:56,2016-03-14 17:40:58,2,-74.003471,40.732037,-73.956520,40.768124,N,1562,5.640384,-74.00,40.73,-73.96,40.77,17.00,0,2016-03-14 17:14:56,2016-03-14 17:40:58
50273,id3376377,1,2016-03-14 17:27:40,2016-03-14 18:03:34,1,-73.863495,40.770046,-73.992638,40.740410,Y,2154,11.378495,-73.86,40.77,-73.99,40.74,17.25,0,2016-03-14 17:27:40,2016-03-14 18:03:34
52234,id3247021,1,2016-03-14 17:30:48,2016-03-14 17:44:08,1,-74.011360,40.714855,-74.003975,40.753094,Y,800,4.301944,-74.01,40.71,-74.00,40.75,17.50,0,2016-03-14 17:30:48,2016-03-14 17:44:08
63237,id2017735,2,2016-03-14 17:26:01,2016-03-14 17:35:10,2,-73.994209,40.751411,-73.977997,40.754959,N,549,1.423027,-73.99,40.75,-73.98,40.75,17.25,0,2016-03-14 17:26:01,2016-03-14 17:35:10
65163,id2856105,1,2016-03-14 17:55:12,2016-03-14 18:08:16,1,-73.984856,40.773968,-73.994781,40.761066,N,784,1.662156,-73.98,40.77,-73.99,40.76,17.75,0,2016-03-14 17:55:12,2016-03-14 18:08:16
67019,id2836996,1,2016-03-14 17:16:50,2016-03-14 17:28:00,1,-73.977898,40.759823,-73.979340,40.757935,N,670,0.242828,-73.98,40.76,-73.98,40.76,17.25,0,2016-03-14 17:16:50,2016-03-14 17:28:00
75050,id1141183,1,2016-03-14 17:50:32,2016-03-14 18:08:04,1,-73.983177,40.766594,-73.981567,40.746140,N,1052,2.280968,-73.98,40.77,-73.98,40.75,17.75,0,2016-03-14 17:50:32,2016-03-14 18:08:04
75984,id3810007,2,2016-03-14 17:01:40,2016-03-14 17:40:26,1,-73.874687,40.774078,-73.984779,40.768372,N,2326,9.302816,-73.87,40.77,-73.98,40.77,17.00,0,2016-03-14 17:01:40,2016-03-14 17:40:26
76930,id1957285,2,2016-03-14 17:41:03,2016-03-14 18:17:04,1,-73.863686,40.769386,-73.973450,40.760231,N,2161,9.310285,-73.86,40.77,-73.97,40.76,17.50,0,2016-03-14 17:41:03,2016-03-14 18:17:04
84759,id0415243,1,2016-03-14 17:03:38,2016-03-14 17:28:19,1,-73.956375,40.818611,-73.952339,40.768738,N,1481,5.562166,-73.96,40.82,-73.95,40.77,17.00,0,2016-03-14 17:03:38,2016-03-14 17:28:19
88968,id1753368,2,2016-03-14 17:51:24,2016-03-14 17:54:49,2,-73.968338,40.799854,-73.964508,40.806995,N,205,0.857939,-73.97,40.80,-73.96,40.81,17.75,0,2016-03-14 17:51:24,2016-03-14 17:54:49
89411,id2160101,1,2016-03-14 17:33:41,2016-03-14 17:42:34,1,-73.981339,40.764141,-73.972679,40.756348,N,533,1.133896,-73.98,40.76,-73.97,40.76,17.50,0,2016-03-14 17:33:41,2016-03-14 17:42:34
92231,id2929349,1,2016-03-14 17:12:26,2016-03-14 17:29:34,1,-73.981873,40.765415,-73.979683,40.746429,N,1028,2.121488,-73.98,40.77,-73.98,40.75,17.00,0,2016-03-14 17:12:26,2016-03-14 17:29:34
92699,id3687404,1,2016-03-14 17:30:23,2016-03-14 17:59:05,1,-73.982178,40.746132,-73.984207,40.780064,N,1722,3.781056,-73.98,40.75,-73.98,40.78,17.50,0,2016-03-14 17:30:23,2016-03-14 17:59:05
94098,id2892387,1,2016-03-14 17:23:04,2016-03-14 17:32:44,1,-73.968475,40.767181,-73.978119,40.764488,N,580,0.866558,-73.97,40.77,-73.98,40.76,17.25,0,2016-03-14 17:23:04,2016-03-14 17:32:44
98537,id1279867,1,2016-03-14 17:42:25,2016-03-14 17:55:07,1,-74.010201,40.702087,-74.012909,40.677311,N,762,2.767502,-74.01,40.70,-74.01,40.68,17.50,0,2016-03-14 17:42:25,2016-03-14 17:55:07
105608,id2988205,2,2016-03-14 17:51:49,2016-03-14 18:15:38,1,-73.991722,40.755039,-73.965752,40.768452,N,1429,2.650273,-73.99,40.76,-73.97,40.77,17.75,0,2016-03-14 17:51:49,2016-03-14 18:15:38
108855,id1654195,1,2016-03-14 17:19:33,2016-03-14 17:33:51,1,-73.960068,40.758278,-73.961388,40.770981,N,858,1.418427,-73.96,40.76,-73.96,40.77,17.25,0,2016-03-14 17:19:33,2016-03-14 17:33:51
110279,id2607716,1,2016-03-14 17:30:32,2016-03-14 17:34:39,1,-73.987602,40.741451,-73.995132,40.736790,N,247,0.820155,-73.99,40.74,-74.00,40.74,17.50,0,2016-03-14 17:30:32,2016-03-14 17:34:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363111,id0933968,1,2016-03-14 17:54:14,2016-03-14 18:05:14,1,-73.983635,40.765743,-73.971664,40.783710,N,660,2.240204,-73.98,40.77,-73.97,40.78,17.75,0,2016-03-14 17:54:14,2016-03-14 18:05:14
1366005,id3827949,2,2016-03-14 17:17:51,2016-03-14 17:25:25,1,-73.974831,40.741943,-73.973701,40.748402,N,454,0.725197,-73.97,40.74,-73.97,40.75,17.25,0,2016-03-14 17:17:51,2016-03-14 17:25:25
1367361,id0987134,1,2016-03-14 17:05:36,2016-03-14 17:13:55,1,-73.989983,40.741230,-74.006287,40.733299,N,499,1.634168,-73.99,40.74,-74.01,40.73,17.00,0,2016-03-14 17:05:36,2016-03-14 17:13:55
1371533,id2600565,2,2016-03-14 17:56:26,2016-03-14 17:58:28,2,-74.000870,40.757339,-73.995621,40.759270,N,122,0.491994,-74.00,40.76,-74.00,40.76,17.75,0,2016-03-14 17:56:26,2016-03-14 17:58:28
1371772,id0387560,1,2016-03-14 17:19:51,2016-03-14 17:34:57,1,-73.994156,40.751625,-73.993149,40.747871,N,906,0.426390,-73.99,40.75,-73.99,40.75,17.25,0,2016-03-14 17:19:51,2016-03-14 17:34:57
1373619,id1399492,2,2016-03-14 17:00:54,2016-03-14 17:25:25,1,-73.992676,40.730297,-73.973228,40.760494,N,1471,3.740234,-73.99,40.73,-73.97,40.76,17.00,0,2016-03-14 17:00:54,2016-03-14 17:25:25
1378461,id0118801,1,2016-03-14 17:46:25,2016-03-14 18:02:59,1,-73.954208,40.766335,-73.977638,40.786228,N,994,2.967302,-73.95,40.77,-73.98,40.79,17.75,0,2016-03-14 17:46:25,2016-03-14 18:02:59
1380559,id1977224,2,2016-03-14 17:43:01,2016-03-14 17:46:39,1,-73.981743,40.768261,-73.981720,40.762058,N,218,0.690469,-73.98,40.77,-73.98,40.76,17.50,0,2016-03-14 17:43:01,2016-03-14 17:46:39
1381511,id2244141,1,2016-03-14 17:50:32,2016-03-14 17:58:56,1,-73.976898,40.787678,-73.956055,40.778065,N,504,2.057102,-73.98,40.79,-73.96,40.78,17.75,0,2016-03-14 17:50:32,2016-03-14 17:58:56
1384221,id3719013,1,2016-03-14 17:59:47,2016-03-14 18:17:17,1,-73.964790,40.764175,-73.991760,40.749126,N,1050,2.824545,-73.96,40.76,-73.99,40.75,17.75,0,2016-03-14 17:59:47,2016-03-14 18:17:17
1387485,id0679095,2,2016-03-14 17:28:30,2016-03-14 17:51:16,2,-73.978302,40.773121,-73.952980,40.776264,N,1366,2.163094,-73.98,40.77,-73.95,40.78,17.25,0,2016-03-14 17:28:30,2016-03-14 17:51:16
1390468,id2638300,2,2016-03-14 17:12:56,2016-03-14 17:31:40,3,-73.998314,40.755772,-73.953087,40.780235,N,1124,4.685575,-74.00,40.76,-73.95,40.78,17.00,0,2016-03-14 17:12:56,2016-03-14 17:31:40
1390790,id2192691,2,2016-03-14 17:38:34,2016-03-14 17:43:08,5,-73.982887,40.744621,-73.988678,40.739479,N,274,0.752452,-73.98,40.74,-73.99,40.74,17.50,0,2016-03-14 17:38:34,2016-03-14 17:43:08
1391350,id1591900,1,2016-03-14 17:42:38,2016-03-14 17:50:02,1,-73.976440,40.739845,-73.982841,40.742123,N,444,0.596433,-73.98,40.74,-73.98,40.74,17.50,0,2016-03-14 17:42:38,2016-03-14 17:50:02
1393142,id3538636,2,2016-03-14 17:48:25,2016-03-14 18:58:52,1,-73.947121,40.779209,-73.782532,40.648670,N,4227,20.100074,-73.95,40.78,-73.78,40.65,17.75,0,2016-03-14 17:48:25,2016-03-14 18:58:52
1400375,id1241470,2,2016-03-14 17:38:19,2016-03-14 18:02:18,1,-73.981827,40.758160,-73.945221,40.818291,N,1439,7.370408,-73.98,40.76,-73.95,40.82,17.50,0,2016-03-14 17:38:19,2016-03-14 18:02:18
1401493,id3312612,1,2016-03-14 17:59:53,2016-03-14 18:13:12,1,-73.982338,40.768291,-73.977516,40.753887,N,799,1.654182,-73.98,40.77,-73.98,40.75,17.75,0,2016-03-14 17:59:53,2016-03-14 18:13:12
1407767,id2039873,2,2016-03-14 17:56:11,2016-03-14 18:30:41,1,-73.973694,40.752331,-73.907143,40.765472,N,2070,5.799057,-73.97,40.75,-73.91,40.77,17.75,0,2016-03-14 17:56:11,2016-03-14 18:30:41
1412194,id2126330,1,2016-03-14 17:02:35,2016-03-14 17:21:02,1,-73.974228,40.742081,-73.952583,40.772469,N,1107,3.843636,-73.97,40.74,-73.95,40.77,17.00,0,2016-03-14 17:02:35,2016-03-14 17:21:02
1412317,id2405838,1,2016-03-14 17:40:45,2016-03-14 18:01:09,1,-73.992462,40.759403,-73.944031,40.801170,N,1224,6.187285,-73.99,40.76,-73.94,40.80,17.50,0,2016-03-14 17:40:45,2016-03-14 18:01:09
1416006,id1939197,1,2016-03-14 17:27:16,2016-03-14 17:35:21,1,-73.995132,40.727486,-73.980370,40.734295,N,485,1.457854,-74.00,40.73,-73.98,40.73,17.25,0,2016-03-14 17:27:16,2016-03-14 17:35:21
1427161,id0471736,1,2016-03-14 17:51:55,2016-03-14 18:02:43,1,-73.946365,40.777107,-73.965714,40.771111,N,648,1.762351,-73.95,40.78,-73.97,40.77,17.75,0,2016-03-14 17:51:55,2016-03-14 18:02:43
1427825,id0128851,2,2016-03-14 17:02:39,2016-03-14 17:09:57,2,-73.977898,40.753216,-73.979500,40.761803,N,438,0.965367,-73.98,40.75,-73.98,40.76,17.00,0,2016-03-14 17:02:39,2016-03-14 17:09:57
1446892,id3448450,2,2016-03-14 17:41:02,2016-03-14 17:47:28,1,-74.015335,40.709560,-74.014893,40.714104,N,386,0.507124,-74.02,40.71,-74.01,40.71,17.50,0,2016-03-14 17:41:02,2016-03-14 17:47:28
1450158,id2687004,1,2016-03-14 17:36:00,2016-03-14 17:41:14,1,-73.970512,40.752216,-73.980492,40.741043,N,314,1.501749,-73.97,40.75,-73.98,40.74,17.50,0,2016-03-14 17:36:00,2016-03-14 17:41:14
1450225,id1322768,2,2016-03-14 17:16:49,2016-03-14 17:58:06,1,-73.789345,40.647243,-73.923561,40.696312,N,2477,12.579500,-73.79,40.65,-73.92,40.70,17.25,0,2016-03-14 17:16:49,2016-03-14 17:58:06
1453963,id3996394,2,2016-03-14 17:45:13,2016-03-14 18:06:06,2,-74.008560,40.711609,-73.965111,40.755180,N,1253,6.079239,-74.01,40.71,-73.97,40.76,17.75,0,2016-03-14 17:45:13,2016-03-14 18:06:06
1454725,id2192907,1,2016-03-14 17:52:15,2016-03-14 18:04:42,2,-73.978630,40.762981,-73.974709,40.751209,N,747,1.351517,-73.98,40.76,-73.97,40.75,17.75,0,2016-03-14 17:52:15,2016-03-14 18:04:42
1455483,id3548948,1,2016-03-14 17:48:23,2016-03-14 17:51:43,1,-73.981232,40.784416,-73.976929,40.790405,N,200,0.758945,-73.98,40.78,-73.98,40.79,17.75,0,2016-03-14 17:48:23,2016-03-14 17:51:43
1456295,id3904520,2,2016-03-14 17:28:24,2016-03-14 18:12:09,1,-73.986130,40.759903,-73.870934,40.774055,N,2625,9.838956,-73.99,40.76,-73.87,40.77,17.25,0,2016-03-14 17:28:24,2016-03-14 18:12:09

In [119]:
f = filter_pickups_for_duration(df, datetime(2016,3,14,18,0,0), 0.25)

In [120]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 16124 to 1455483
Data columns (total 20 columns):
id                    128 non-null object
vendor_id             128 non-null int64
pickup_datetime       128 non-null object
dropoff_datetime      128 non-null object
passenger_count       128 non-null int64
pickup_longitude      128 non-null float64
pickup_latitude       128 non-null float64
dropoff_longitude     128 non-null float64
dropoff_latitude      128 non-null float64
store_and_fwd_flag    128 non-null object
trip_duration         128 non-null int64
trip_distance         128 non-null float64
pck_rnd_long          128 non-null float64
pck_rnd_lat           128 non-null float64
drp_rnd_long          128 non-null float64
drp_rnd_lat           128 non-null float64
pickup_hrmi           128 non-null float64
pickup_weekday        128 non-null int64
pickup_dtm            128 non-null datetime64[ns]
dropoff_dtm           128 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(10), int64(4), object(4)
memory usage: 21.0+ KB

In [189]:
def filter_pickups_for_distance(tdf, longitude, latitude, distance):
    af = tdf.apply(lambda r: get_distance(r['pickup_longitude'], r['pickup_latitude'], r['dropoff_longitude'], r['dropoff_latitude']), axis=1)
    return tdf[af < distance]

In [190]:
f.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday,pickup_dtm,dropoff_dtm,dist
16124,id1226973,1,2016-03-14 17:52:46,2016-03-14 17:58:44,1,-73.984711,40.759007,-73.991318,40.750095,N,...,1.137711,-73.98,40.76,-73.99,40.75,17.75,0,2016-03-14 17:52:46,2016-03-14 17:58:44,1.137711
65163,id2856105,1,2016-03-14 17:55:12,2016-03-14 18:08:16,1,-73.984856,40.773968,-73.994781,40.761066,N,...,1.662156,-73.98,40.77,-73.99,40.76,17.75,0,2016-03-14 17:55:12,2016-03-14 18:08:16,1.662156
75050,id1141183,1,2016-03-14 17:50:32,2016-03-14 18:08:04,1,-73.983177,40.766594,-73.981567,40.746140,N,...,2.280968,-73.98,40.77,-73.98,40.75,17.75,0,2016-03-14 17:50:32,2016-03-14 18:08:04,2.280968
88968,id1753368,2,2016-03-14 17:51:24,2016-03-14 17:54:49,2,-73.968338,40.799854,-73.964508,40.806995,N,...,0.857939,-73.97,40.80,-73.96,40.81,17.75,0,2016-03-14 17:51:24,2016-03-14 17:54:49,0.857939
105608,id2988205,2,2016-03-14 17:51:49,2016-03-14 18:15:38,1,-73.991722,40.755039,-73.965752,40.768452,N,...,2.650273,-73.99,40.76,-73.97,40.77,17.75,0,2016-03-14 17:51:49,2016-03-14 18:15:38,2.650273

In [191]:
filter_pickups_for_distance(f, -74.006760, 40.705559, 1 )

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday,pickup_dtm,dropoff_dtm,dist
88968,id1753368,2,2016-03-14 17:51:24,2016-03-14 17:54:49,2,-73.968338,40.799854,-73.964508,40.806995,N,...,0.857939,-73.97,40.80,-73.96,40.81,17.75,0,2016-03-14 17:51:24,2016-03-14 17:54:49,0.857939
279685,id3936167,2,2016-03-14 17:46:22,2016-03-14 17:50:59,2,-73.961014,40.766861,-73.963463,40.765236,N,...,0.274512,-73.96,40.77,-73.96,40.77,17.75,0,2016-03-14 17:46:22,2016-03-14 17:50:59,0.274512
299495,id0144181,1,2016-03-14 17:45:08,2016-03-14 17:49:29,1,-73.973633,40.792210,-73.971298,40.795334,N,...,0.399576,-73.97,40.79,-73.97,40.80,17.75,0,2016-03-14 17:45:08,2016-03-14 17:49:29,0.399576
368590,id2895301,1,2016-03-14 17:53:22,2016-03-14 18:10:57,4,-73.974289,40.756504,-73.976372,40.763741,N,...,0.824465,-73.97,40.76,-73.98,40.76,17.75,0,2016-03-14 17:53:22,2016-03-14 18:10:57,0.824465
374040,id2051362,1,2016-03-14 17:58:00,2016-03-14 18:04:00,1,-73.995979,40.759109,-73.990303,40.756618,N,...,0.553145,-74.00,40.76,-73.99,40.76,17.75,0,2016-03-14 17:58:00,2016-03-14 18:04:00,0.553145
410051,id1338932,2,2016-03-14 17:48:53,2016-03-14 17:51:28,1,-73.998154,40.737984,-73.992531,40.735596,N,...,0.543687,-74.00,40.74,-73.99,40.74,17.75,0,2016-03-14 17:48:53,2016-03-14 17:51:28,0.543687
476164,id2104718,1,2016-03-14 17:58:07,2016-03-14 18:12:35,1,-73.993767,40.751724,-73.989708,40.743855,N,...,0.940532,-73.99,40.75,-73.99,40.74,17.75,0,2016-03-14 17:58:07,2016-03-14 18:12:35,0.940532
520617,id2052069,1,2016-03-14 17:48:04,2016-03-14 17:49:50,2,-73.982803,40.731525,-73.989357,40.734177,N,...,0.626657,-73.98,40.73,-73.99,40.73,17.75,0,2016-03-14 17:48:04,2016-03-14 17:49:50,0.626657
606473,id0700653,1,2016-03-14 17:52:39,2016-03-14 17:55:47,1,-73.975273,40.790543,-73.972290,40.786579,N,...,0.507809,-73.98,40.79,-73.97,40.79,17.75,0,2016-03-14 17:52:39,2016-03-14 17:55:47,0.507809
801568,id2518551,1,2016-03-14 17:52:42,2016-03-14 17:57:30,1,-73.981720,40.768021,-73.984749,40.759537,N,...,0.978319,-73.98,40.77,-73.98,40.76,17.75,0,2016-03-14 17:52:42,2016-03-14 17:57:30,0.978319
822240,id0983118,1,2016-03-14 17:58:58,2016-03-14 17:59:51,1,-73.983582,40.734409,-73.983582,40.734398,N,...,0.001275,-73.98,40.73,-73.98,40.73,17.75,0,2016-03-14 17:58:58,2016-03-14 17:59:51,0.001275
871516,id1202287,1,2016-03-14 17:48:47,2016-03-14 17:53:46,1,-73.973961,40.764271,-73.966209,40.770920,N,...,0.987367,-73.97,40.76,-73.97,40.77,17.75,0,2016-03-14 17:48:47,2016-03-14 17:53:46,0.987367
904265,id1593502,1,2016-03-14 17:48:53,2016-03-14 17:52:50,1,-73.969376,40.757927,-73.961487,40.760197,N,...,0.711541,-73.97,40.76,-73.96,40.76,17.75,0,2016-03-14 17:48:53,2016-03-14 17:52:50,0.711541
910020,id2935412,2,2016-03-14 17:52:39,2016-03-14 17:58:25,2,-73.948395,40.778393,-73.953163,40.780163,N,...,0.447635,-73.95,40.78,-73.95,40.78,17.75,0,2016-03-14 17:52:39,2016-03-14 17:58:25,0.447635
985388,id1560869,1,2016-03-14 17:51:01,2016-03-14 17:54:55,1,-73.993294,40.729382,-73.986710,40.725761,N,...,0.686220,-73.99,40.73,-73.99,40.73,17.75,0,2016-03-14 17:51:01,2016-03-14 17:54:55,0.686220
1041214,id3292401,2,2016-03-14 17:55:22,2016-03-14 18:04:58,1,-73.977707,40.754745,-73.980408,40.761757,N,...,0.813035,-73.98,40.75,-73.98,40.76,17.75,0,2016-03-14 17:55:22,2016-03-14 18:04:58,0.813035
1046583,id1656874,1,2016-03-14 17:49:55,2016-03-14 17:54:58,1,-74.005814,40.740372,-74.007164,40.733009,N,...,0.827434,-74.01,40.74,-74.01,40.73,17.75,0,2016-03-14 17:49:55,2016-03-14 17:54:58,0.827434
1079886,id1469839,1,2016-03-14 17:56:05,2016-03-14 18:01:13,1,-73.993355,40.767563,-73.982704,40.763901,N,...,0.986157,-73.99,40.77,-73.98,40.76,17.75,0,2016-03-14 17:56:05,2016-03-14 18:01:13,0.986157
1125845,id0176811,1,2016-03-14 17:56:47,2016-03-14 18:04:38,1,-73.989784,40.690311,-73.995102,40.695091,N,...,0.696096,-73.99,40.69,-74.00,40.70,17.75,0,2016-03-14 17:56:47,2016-03-14 18:04:38,0.696096
1212752,id2528911,2,2016-03-14 17:51:27,2016-03-14 17:59:51,1,-73.975113,40.761101,-73.966759,40.763268,N,...,0.744530,-73.98,40.76,-73.97,40.76,17.75,0,2016-03-14 17:51:27,2016-03-14 17:59:51,0.744530
1371533,id2600565,2,2016-03-14 17:56:26,2016-03-14 17:58:28,2,-74.000870,40.757339,-73.995621,40.759270,N,...,0.491994,-74.00,40.76,-74.00,40.76,17.75,0,2016-03-14 17:56:26,2016-03-14 17:58:28,0.491994
1455483,id3548948,1,2016-03-14 17:48:23,2016-03-14 17:51:43,1,-73.981232,40.784416,-73.976929,40.790405,N,...,0.758945,-73.98,40.78,-73.98,40.79,17.75,0,2016-03-14 17:48:23,2016-03-14 17:51:43,0.758945

In [200]:
ttdf = df.head(100)

In [201]:
ttdf

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_distance,pck_rnd_long,pck_rnd_lat,drp_rnd_long,drp_rnd_lat,pickup_hrmi,pickup_weekday,pickup_dtm,dropoff_dtm
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,1.500167,-73.98,40.77,-73.96,40.77,17.25,0,2016-03-14 17:24:55,2016-03-14 17:32:30
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,1.807491,-73.98,40.74,-74.00,40.73,0.50,6,2016-06-12 00:43:35,2016-06-12 00:54:38
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,6.392114,-73.98,40.76,-74.01,40.71,11.50,1,2016-01-19 11:35:24,2016-01-19 12:10:48
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,1.487131,-74.01,40.72,-74.01,40.71,19.50,2,2016-04-06 19:32:31,2016-04-06 19:39:40
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,1.189894,-73.97,40.79,-73.97,40.78,13.50,5,2016-03-26 13:30:55,2016-03-26 13:38:10
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443,1.100150,-73.98,40.74,-73.99,40.75,22.00,5,2016-01-30 22:01:40,2016-01-30 22:09:03
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,1.327736,-73.97,40.76,-73.96,40.77,22.50,4,2016-06-17 22:34:59,2016-06-17 22:40:40
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,5.721260,-73.97,40.80,-73.92,40.76,7.75,5,2016-05-21 07:54:58,2016-05-21 08:20:49
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255,1.311793,-74.00,40.74,-73.99,40.73,23.00,4,2016-05-27 23:12:23,2016-05-27 23:16:38
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,5.126788,-73.98,40.74,-73.97,40.79,21.75,3,2016-03-10 21:45:01,2016-03-10 22:05:26
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,3.810321,-73.98,40.76,-74.00,40.73,22.00,1,2016-05-10 22:08:41,2016-05-10 22:29:55
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128,3.777242,-73.99,40.75,-73.96,40.77,11.25,6,2016-05-15 11:16:11,2016-05-15 11:34:59
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114,1.861526,-73.96,40.76,-73.98,40.76,9.75,4,2016-02-19 09:52:46,2016-02-19 10:11:20
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260,0.992774,-73.96,40.77,-73.97,40.76,20.75,2,2016-06-01 20:58:29,2016-06-01 21:02:49
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414,6.389849,-73.99,40.73,-73.97,40.78,0.50,4,2016-05-27 00:43:36,2016-05-27 01:07:10
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211,0.657299,-73.96,40.77,-73.95,40.77,15.25,0,2016-05-16 15:29:02,2016-05-16 15:32:33
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316,3.431852,-73.99,40.76,-74.00,40.73,17.25,0,2016-04-11 17:29:50,2016-04-11 18:08:26
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731,2.541461,-73.99,40.75,-74.00,40.72,8.75,3,2016-04-14 08:48:26,2016-04-14 09:00:37
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317,4.610261,-74.00,40.71,-73.98,40.75,9.75,0,2016-06-27 09:55:13,2016-06-27 10:17:10
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251,1.304703,-73.98,40.74,-73.99,40.73,13.75,6,2016-06-05 13:47:23,2016-06-05 13:51:34
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486,2.508679,-73.98,40.74,-73.96,40.76,2.25,6,2016-02-28 02:23:02,2016-02-28 02:31:08
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652,1.726445,-73.98,40.75,-73.96,40.76,12.00,4,2016-04-01 12:12:25,2016-04-01 12:23:17
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423,2.069356,-74.00,40.76,-73.99,40.74,3.50,5,2016-04-09 03:34:27,2016-04-09 03:41:30
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163,4.880148,-73.99,40.75,-74.01,40.70,10.50,5,2016-06-25 10:36:26,2016-06-25 10:55:49
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485,20.625211,-73.96,40.78,-73.79,40.64,8.25,4,2016-06-03 08:15:05,2016-06-03 08:56:30
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283,4.564535,-73.96,40.77,-73.97,40.73,13.25,6,2016-02-14 13:27:56,2016-02-14 13:49:19
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130,6.062763,-73.98,40.75,-73.96,40.80,21.75,5,2016-02-27 21:56:01,2016-02-27 22:14:51
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694,3.742850,-73.96,40.71,-73.95,40.68,23.00,0,2016-06-20 23:07:16,2016-06-20 23:18:50
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892,2.527623,-73.99,40.71,-73.98,40.69,21.75,0,2016-06-13 21:57:27,2016-06-13 22:12:19
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331,9.950364,-73.98,40.76,-73.87,40.77,14.00,2,2016-03-23 14:10:39,2016-03-23 14:49:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,id3896508,2,2016-06-07 22:32:32,2016-06-07 22:46:06,1,-73.863380,40.769890,-73.837128,40.721359,N,814,5.838375,-73.86,40.77,-73.84,40.72,22.50,1,2016-06-07 22:32:32,2016-06-07 22:46:06
71,id2846400,2,2016-03-16 20:13:12,2016-03-16 20:23:49,1,-73.997253,40.717960,-73.999252,40.730019,N,637,1.352842,-74.00,40.72,-74.00,40.73,20.00,2,2016-03-16 20:13:12,2016-03-16 20:23:49
72,id1510700,2,2016-02-20 21:58:13,2016-02-20 21:59:10,1,-73.958397,40.772629,-73.955132,40.774242,N,57,0.328693,-73.96,40.77,-73.96,40.77,21.75,5,2016-02-20 21:58:13,2016-02-20 21:59:10
73,id0813128,2,2016-02-20 18:57:43,2016-02-20 19:07:32,2,-73.991203,40.749554,-73.979195,40.746307,N,589,1.075264,-73.99,40.75,-73.98,40.75,18.75,5,2016-02-20 18:57:43,2016-02-20 19:07:32
74,id1158195,1,2016-03-24 17:58:51,2016-03-24 18:36:46,1,-73.992325,40.730721,-73.872505,40.774498,N,2275,11.217771,-73.99,40.73,-73.87,40.77,17.75,3,2016-03-24 17:58:51,2016-03-24 18:36:46
75,id0959273,1,2016-03-20 23:16:39,2016-03-20 23:27:26,1,-73.988838,40.768902,-73.955536,40.771744,N,647,2.825291,-73.99,40.77,-73.96,40.77,23.25,6,2016-03-20 23:16:39,2016-03-20 23:27:26
76,id0739660,1,2016-05-16 13:07:10,2016-05-16 13:34:18,3,-73.964722,40.806606,-73.984573,40.760677,N,1628,5.379519,-73.96,40.81,-73.98,40.76,13.00,0,2016-05-16 13:07:10,2016-05-16 13:34:18
77,id3769871,1,2016-06-17 17:32:59,2016-06-17 18:11:56,1,-73.943146,40.789631,-73.989479,40.762764,N,2337,4.919290,-73.94,40.79,-73.99,40.76,17.50,4,2016-06-17 17:32:59,2016-06-17 18:11:56
78,id1818021,1,2016-03-23 00:34:10,2016-03-23 00:45:24,1,-74.011169,40.703606,-74.005692,40.741360,N,674,4.228005,-74.01,40.70,-74.01,40.74,0.50,2,2016-03-23 00:34:10,2016-03-23 00:45:24
79,id0982165,2,2016-04-12 21:29:16,2016-04-12 21:49:06,1,-73.980316,40.758850,-74.010139,40.705082,N,1190,6.492506,-73.98,40.76,-74.01,40.71,21.25,1,2016-04-12 21:29:16,2016-04-12 21:49:06
80,id1519515,2,2016-06-11 12:52:19,2016-06-11 13:12:10,1,-73.950493,40.771267,-74.001244,40.746490,N,1191,5.091036,-73.95,40.77,-74.00,40.75,12.75,5,2016-06-11 12:52:19,2016-06-11 13:12:10
81,id1082443,2,2016-02-25 14:56:26,2016-02-25 15:09:31,1,-73.987122,40.768475,-73.975822,40.759712,N,785,1.363435,-73.99,40.77,-73.98,40.76,14.75,3,2016-02-25 14:56:26,2016-02-25 15:09:31
82,id2934884,2,2016-01-07 19:32:15,2016-01-07 19:40:55,1,-73.986389,40.756615,-73.999794,40.761631,N,520,1.260688,-73.99,40.76,-74.00,40.76,19.50,3,2016-01-07 19:32:15,2016-01-07 19:40:55
83,id1205949,1,2016-06-05 18:43:14,2016-06-05 18:46:52,1,-73.962608,40.758827,-73.954193,40.764053,N,218,0.917540,-73.96,40.76,-73.95,40.76,18.50,6,2016-06-05 18:43:14,2016-06-05 18:46:52
84,id2592310,2,2016-06-13 07:20:46,2016-06-13 07:24:28,1,-73.990417,40.756882,-73.981979,40.759991,N,222,0.791201,-73.99,40.76,-73.98,40.76,7.25,0,2016-06-13 07:20:46,2016-06-13 07:24:28
85,id0883711,1,2016-01-16 21:22:41,2016-01-16 21:42:45,1,-73.993637,40.734219,-73.961464,40.769299,N,1204,4.754983,-73.99,40.73,-73.96,40.77,21.25,5,2016-01-16 21:22:41,2016-01-16 21:42:45
86,id0283075,1,2016-04-06 23:42:26,2016-04-07 00:12:08,1,-73.782478,40.644646,-73.981125,40.720886,N,1782,18.794113,-73.78,40.64,-73.98,40.72,23.50,2,2016-04-06 23:42:26,2016-04-07 00:12:08
87,id2107497,1,2016-05-13 20:46:55,2016-05-13 21:06:29,2,-74.013954,40.712833,-73.997551,40.718075,N,1174,1.501957,-74.01,40.71,-74.00,40.72,20.75,4,2016-05-13 20:46:55,2016-05-13 21:06:29
88,id2090852,2,2016-01-28 11:25:20,2016-01-28 11:30:56,1,-73.968826,40.754196,-73.972755,40.746613,N,336,0.906884,-73.97,40.75,-73.97,40.75,11.25,3,2016-01-28 11:25:20,2016-01-28 11:30:56
89,id1297351,2,2016-06-24 14:24:31,2016-06-24 14:32:21,1,-74.003288,40.726971,-73.993301,40.739120,N,470,1.593379,-74.00,40.73,-73.99,40.74,14.25,4,2016-06-24 14:24:31,2016-06-24 14:32:21
90,id0667605,2,2016-05-27 16:17:36,2016-05-27 16:23:22,1,-73.991058,40.739571,-74.006104,40.734550,N,346,1.386601,-73.99,40.74,-74.01,40.73,16.25,4,2016-05-27 16:17:36,2016-05-27 16:23:22
91,id1476107,1,2016-05-22 15:41:29,2016-05-22 15:48:28,1,-73.966881,40.788681,-73.962822,40.775726,N,419,1.482107,-73.97,40.79,-73.96,40.78,15.50,6,2016-05-22 15:41:29,2016-05-22 15:48:28
92,id0673727,2,2016-05-18 19:15:27,2016-05-18 19:44:49,1,-73.961678,40.775967,-73.857391,40.733284,N,1762,9.995322,-73.96,40.78,-73.86,40.73,19.25,2,2016-05-18 19:15:27,2016-05-18 19:44:49
93,id2030290,1,2016-03-31 11:33:30,2016-03-31 12:12:31,3,-73.864319,40.769829,-73.985863,40.760952,N,2341,10.294946,-73.86,40.77,-73.99,40.76,11.50,3,2016-03-31 11:33:30,2016-03-31 12:12:31
94,id3770790,1,2016-02-13 13:12:49,2016-02-13 13:19:35,1,-73.992233,40.744282,-74.008232,40.748825,N,406,1.440923,-73.99,40.74,-74.01,40.75,13.00,5,2016-02-13 13:12:49,2016-02-13 13:19:35
95,id3025098,2,2016-01-20 19:21:31,2016-01-20 19:31:27,1,-73.976982,40.750301,-73.999123,40.739510,N,596,2.220308,-73.98,40.75,-74.00,40.74,19.25,2,2016-01-20 19:21:31,2016-01-20 19:31:27
96,id3333094,2,2016-06-02 23:34:00,2016-06-02 23:41:15,1,-73.973465,40.755230,-73.977364,40.742821,N,435,1.419944,-73.97,40.76,-73.98,40.74,23.50,3,2016-06-02 23:34:00,2016-06-02 23:41:15
97,id2228940,1,2016-02-04 13:22:02,2016-02-04 13:40:30,1,-73.981865,40.758774,-73.970222,40.784142,N,1108,2.989569,-73.98,40.76,-73.97,40.78,13.25,3,2016-02-04 13:22:02,2016-02-04 13:40:30
98,id2102594,1,2016-03-30 16:14:29,2016-03-30 17:01:33,1,-73.789841,40.643559,-73.970665,40.687279,N,2824,16.025171,-73.79,40.64,-73.97,40.69,16.00,2,2016-03-30 16:14:29,2016-03-30 17:01:33
99,id0010677,1,2016-04-29 10:40:34,2016-04-29 10:53:23,2,-73.991974,40.749996,-73.977882,40.754894,N,769,1.307410,-73.99,40.75,-73.98,40.75,10.50,4,2016-04-29 10:40:34,2016-04-29 10:53:23

In [194]:
filter_pickups_for_distance(filter_pickups_for_duration(df, datetime(2016,3,14,17,32,30),0.25), -73.964630, 40.765602,10).pickup_dtm.count()

99

In [206]:
df = pd.concat([df, df.apply(lambda r: filter_pickups_for_distance(filter_pickups_for_duration(df, r['dropoff_dtm'],0.25), r['dropoff_longitude'], r['dropoff_latitude'],10).pickup_dtm.count() , axis=1).rename('pckup_15m_10k')],axis=1)

KeyboardInterrupt: