In [17]:
import pandas as pd
from matplotlib import pyplot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [18]:
df = pd.read_csv("./data/ts_processed.csv",parse_dates=[0])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674116 entries, 0 to 674115
Data columns (total 5 columns):
drp_dtm         674116 non-null datetime64[ns]
drp_yyyymmdd    674116 non-null int64
drp_hrmi        674116 non-null float64
drp_loc         674116 non-null object
trips_count     674116 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 25.7+ MB

In [20]:
df.head()

     drp_dtm  drp_yyyymmdd  drp_hrmi       drp_loc  trips_count
0 2016-01-01      20160101       0.0  -73.93_40.71            1
1 2016-01-01      20160101       0.0  -73.94_40.83            1
2 2016-01-01      20160101       0.0  -73.94_40.85            1
3 2016-01-01      20160101       0.0  -73.95_40.82            1
4 2016-01-01      20160101       0.0  -73.97_40.74            1

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)