In [35]:
import pandas as pd

In [36]:
# Obtain distance between two points on earth
# https://en.wikipedia.org/wiki/Great-circle_distance

# Below function gives distance in KM between to points on the earth surface identified by
# their longitude and latitudes (from_long, from_lat) & (to_long, to_lat)
# 0.009 of difference in x co-ordinate = 1.002 km
# 0.009 of difference in y co-ordinate = 1.002 km

from math import sin, cos, acos

def get_distance(from_long, from_lat, to_long, to_lat):
    
    if from_long == to_long and from_lat == to_lat: 
        return 0
    
    v_pi             = 3.1415926; 
    v_earth_radius   = 6378; # Radius of the Earth in km    
    v_from_x_radians = (v_pi / 180) * from_long
    v_from_y_radians = (v_pi / 180) * from_lat
    v_to_x_radians   = (v_pi / 180) * to_long
    v_to_y_radians   = (v_pi / 180) * to_lat

    v_distance = ((acos(sin(v_from_y_radians) * sin(v_to_y_radians) 
                       + (cos(v_from_y_radians) * cos(v_to_y_radians) *  cos(v_from_x_radians - v_to_x_radians)))) 
                  * v_earth_radius)
    return v_distance # Unit in kilometer

In [37]:
samples = pd.DataFrame({'x1' : [103.87025107,103.98164067,103.87103974,103.87142031,103.83267643,103.90053836,103.75231298,103.88604887,103.71431858,103.75220698],
                       'y1' : [1.40990829,1.39068971,1.40988914,1.40987613,1.38122546,1.33713388,1.3697655,1.31583666,1.27238027,1.37009057],
                       'x2' : [103.90387134,103.80055396,103.91431741,103.76915635,103.8434018,103.90026052,103.7511441,103.75144778,103.87127837,103.80492306],
                       'y2':[1.30550212,1.3172479,1.40625096,1.41068858,1.28588592,1.33711493,1.37003373,1.36950056,1.40281019,1.28029987]})

In [38]:
samples.head()

           x1        y1          x2        y2
0  103.870251  1.409908  103.903871  1.305502
1  103.981641  1.390690  103.800554  1.317248
2  103.871040  1.409889  103.914317  1.406251
3  103.871420  1.409876  103.769156  1.410689
4  103.832676  1.381225  103.843402  1.285886

In [39]:
samples['pck'] = samples.apply(lambda r: (r['y1'], r['x1']), axis=1)
samples['des'] = samples.apply(lambda r: (r['y2'], r['x2']), axis=1)

In [40]:
samples['my_distance'] = samples.apply(lambda r: get_distance(r['x1'],r['y1'],r['x2'],r['y2']), axis= 1)

In [41]:
from geopy import distance

In [42]:
samples['geopy_distance'] = samples.apply(lambda r: distance.distance(r['pck'], r['des']), axis=1)

In [43]:
samples['geopy_great_circle'] = samples.apply(lambda r: distance.great_circle(r['pck'], r['des']), axis=1)

In [44]:
samples.head()

,x1,y1,x2,y2,pck,des,my_distance,geopy_distance,geopy_great_circle
0,103.870251,1.409908,103.903871,1.305502,"(1.40990829, 103.87025107)","(1.30550212, 103.90387134)",12.209581,12.135868882161455 km,12.19619795236913 km
1,103.981641,1.390690,103.800554,1.317248,"(1.39068971, 103.98164067)","(1.3172479, 103.80055396)",21.747550,21.727554680467982 km,21.72371269888035 km
2,103.871040,1.409889,103.914317,1.406251,"(1.40988914, 103.87103974)","(1.40625096, 103.91431741)",4.833088,4.8329754331677375 km,4.8277905441288596 km
3,103.871420,1.409876,103.769156,1.410689,"(1.40987613, 103.87142031)","(1.41068858, 103.76915635)",11.380638,11.380901271074691 km,11.368164081340128 km
4,103.832676,1.381225,103.843402,1.285886,"(1.38122546, 103.83267643)","(1.28588592, 103.8434018)",10.679829,10.609515837257671 km,10.668123275017898 km

In [45]:
samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
x1                    10 non-null float64
y1                    10 non-null float64
x2                    10 non-null float64
y2                    10 non-null float64
pck                   10 non-null object
des                   10 non-null object
my_distance           10 non-null float64
geopy_distance        10 non-null object
geopy_great_circle    10 non-null object
dtypes: float64(5), object(4)
memory usage: 800.0+ bytes