In [25]:
def is_palindrome(s):
    '''Given a string checks if it is a palindrome or not'''
    
    # We check from first character to middle character if it matches from the last.
    rev_ind = len(s)-1
    mid_point = len(s) // 2
    
    for i in range(0,mid_point):
        if s[i] != s[rev_ind] :
              return False
        rev_ind = rev_ind - 1
    return True          

def find_largest_palindrome(num_digits):
    '''Finds largest palindrome for multiples of given number of digits
       Eg. 2 digits, 99 x 91 
    '''
    end_till = 10**num_digits - 1    
    print (end_till)
    
    start_after = 10**(num_digits - 1) - 1
    print (start_after)
        
    multiples = []
    for i in range(end_till, start_after, -1):
        for j in range(i,start_after,-1):
            #print(i,j, i*j)
            multiples.append(i*j)
    
    #print(multiples)        
    multiples.sort(reverse=True)
    #print(multiples)        
    for p in multiples:        
        #print (str(p))
        if is_palindrome(str(p)):                
            #print('**')
            return p        
    
    return None

print("Largest palindrome : ", find_largest_palindrome(3))

999
99
Largest palindrome :  906609

In [6]:
x = []
print (x)    
x.append(3)
print (x)
x.append(4)
x

[]
[3]

[3, 4]

In [28]:
end_point = 5
for i in range(5, 0, -1):
    for j in range(end_point,0,-1):
        print ( (i,j))
    end_point = end_point - 1

(5, 5)
(5, 4)
(5, 3)
(5, 2)
(5, 1)
(4, 4)
(4, 3)
(4, 2)
(4, 1)
(3, 3)
(3, 2)
(3, 1)
(2, 2)
(2, 1)
(1, 1)

In [43]:
for i in range(3,0,-1):
    print (i)

3
2
1

In [86]:
def is_prime(n):
    #Special conditions
    if n <= 1:
        return False
    if n == 2:
        return True
    
    end_point = n/1
    div_num = 2
    while True:
        #print ("Div:", div_num)
        if (n % div_num) == 0:
            #print ("Divides by: ", div_num)
            return False
        end_point = n // div_num
        #print (end_point)
        if div_num > end_point:
            return True
        div_num += 1
    return None   

def sum_primes(n):
    '''Sum all prime numbers less than given number n'''
    
    sum_of_primes = 0
    for i in range(n):
        if is_prime(i):
            #print (i)
            sum_of_primes += i
    return sum_of_primes

print (sum_primes(2000))

277050

In [94]:
def sum_multiples(below, factors):
    sum_result = 0
    for i in range(below):
        for f in factors:
            if i % f == 0:
                #print ((i,f))
                sum_result += i
                break
    return sum_result

print(sum_multiples(1000,[3,5]))

233168

In [130]:
def compress_by_runlen(s,ignore_case=False):
    
    return_s = ""
    prev_char = s[0]
    repeat_count = 1
    
    for i in range(1,len(s)):
        curr_char = s[i]   
        
    
        if (prev_char == curr_char and not ignore_case or prev_char.upper() == curr_char.upper() and ignore_case):
            repeat_count += 1
        else:
            if repeat_count > 1:
                return_s = return_s + prev_char + str(repeat_count)
            else:
                return_s = return_s + prev_char
            # Reset repeat counts and prev char    
            repeat_count = 1
            prev_char = curr_char
            
        # Handle for last char
        if i == (len(s) - 1):
            if repeat_count > 1:
                return_s = return_s + curr_char + str(repeat_count)
            else:
                return_s = return_s + curr_char
    # Final check
    if len(s) < len(return_s):
        return s
    else:
        return return_s
        
    return return_s        
            
print(compress_by_runlen("AaaaAb",True))

A5b

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'x':[],'y':[],'xy':[]})

In [8]:
x = []
y = []
xy = []
for i in range (5):
    for j in range (5):
        x.append(i) 
        y.append(j)
        xy.append(i*j)

In [9]:
x

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]

In [10]:
y

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [11]:
xy

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [17]:
df = pd.DataFrame({'x':x, 'y':y, 'xy': xy})

In [13]:
df.sort_index(axis='xy',ascending=False,inplace=True)

ValueError: No axis named xy for object type <class 'pandas.core.frame.DataFrame'>

In [14]:
df.sort(axis='xy',ascending=False,inplace=True)

AttributeError: 'DataFrame' object has no attribute 'sort'

In [19]:
df.sort_values('xy',ascending=False,inplace=True)

In [20]:
df

    x  y  xy
24  4  4  16
23  4  3  12
19  3  4  12
18  3  3   9
22  4  2   8
14  2  4   8
13  2  3   6
17  3  2   6
21  4  1   4
12  2  2   4
9   1  4   4
8   1  3   3
16  3  1   3
11  2  1   2
7   1  2   2
6   1  1   1
10  2  0   0
1   0  1   0
15  3  0   0
5   1  0   0
20  4  0   0
4   0  4   0
3   0  3   0
2   0  2   0
0   0  0   0

In [22]:
df.sort_values(['x','y'],ascending=[False, False],inplace=True)

In [23]:
df

    x  y  xy
24  4  4  16
23  4  3  12
22  4  2   8
21  4  1   4
20  4  0   0
19  3  4  12
18  3  3   9
17  3  2   6
16  3  1   3
15  3  0   0
14  2  4   8
13  2  3   6
12  2  2   4
11  2  1   2
10  2  0   0
9   1  4   4
8   1  3   3
7   1  2   2
6   1  1   1
5   1  0   0
4   0  4   0
3   0  3   0
2   0  2   0
1   0  1   0
0   0  0   0

In [38]:
df.sort_values(['xy','x','y'],ascending=[False, False, False],inplace=True)

In [39]:
df

    x  y  xy
24  4  4  16
23  4  3  12
19  3  4  12
18  3  3   9
22  4  2   8
14  2  4   8
17  3  2   6
13  2  3   6
21  4  1   4
12  2  2   4
9   1  4   4
16  3  1   3
8   1  3   3
11  2  1   2
7   1  2   2
6   1  1   1
20  4  0   0
15  3  0   0
10  2  0   0
5   1  0   0
4   0  4   0
3   0  3   0
2   0  2   0
1   0  1   0
0   0  0   0

In [40]:
r1 = range(3)

In [41]:
r1

range(0, 3)

In [42]:
r1 = list(range(3))

In [43]:
r1

[0, 1, 2]

In [44]:
r1.sort(reverse=True)

In [45]:
r1

[2, 1, 0]

In [46]:
r1[0]

2

In [47]:
r2 = list(range(2,-1,-1))

In [48]:
r2

[2, 1, 0]

In [26]:
end_till = 5
start_after = 0
for i in range(end_till, start_after, -1):
    for j in range(i,start_after,-1):
        print(i,j, i*j)

5 5 25
5 4 20
5 3 15
5 2 10
5 1 5
4 4 16
4 3 12
4 2 8
4 1 4
3 3 9
3 2 6
3 1 3
2 2 4
2 1 2
1 1 1

In [27]:
end_till = 5
start_after = 0
for i in range(end_till, start_after, -1):
    for j in range(end_till,start_after,-1):
        print(i,j, i*j)

5 5 25
5 4 20
5 3 15
5 2 10
5 1 5
4 5 20
4 4 16
4 3 12
4 2 8
4 1 4
3 5 15
3 4 12
3 3 9
3 2 6
3 1 3
2 5 10
2 4 8
2 3 6
2 2 4
2 1 2
1 5 5
1 4 4
1 3 3
1 2 2
1 1 1